[Unit]                                                                                     
Description=a3-main
Requires=a3-jack.service qjackctl.service a3-reaper.service a3-core.service beat-analyzer.service

[Service]
ExecStart=/usr/bin/sleep 0

[Install]
WantedBy=default.target
