[Unit]                                                                                     
Description=a3-supercollider (vu-meters)
PartOf=a3-main.service
After=a3-jack.service

[Service]
Type=idle
PrivateTmp=true
WorkingDirectory=/home/aaa/.local/share/a3-core/supercollider
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/sclang /home/aaa/.local/share/a3-core/supercollider/a3-vu-meter.scd
LimitRTPRIO=2
CPUAffinity=1 2 3

[Install]
WantedBy=default.target
