[Unit]                                                                                     
Description=qjackctl.service
PartOf=a3-main.service
After=jack.service

[Service]
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/qjackctl -a /home/aaa/.config/rncbc.org/a3-patchbay.xml
ExecStop=/usr/bin/pkill -9 qjackctl
Type=simple
CPUAffinity=1 2 3
CPUSchedulingPolicy=rr
CPUSchedulingPriority=83

[Install]
WantedBy=default.target
