[Unit]                                                                                     
Description=a3-core (python osc servera)
PartOf=a3-main.service
After=jack.service

[Service]
Type=idle
PrivateTmp=true
ExecStart=/home/aaa/venv/bin/python3 /home/aaa/a3-core/engine/scripts/a3-core.py

[Install]
WantedBy=default.target
