[Unit]                                                                                     
Description=a3-core osc receiver
After=jack.service

[Service]
Type=idle
PrivateTmp=true
ExecStart=/usr/bin/python3 /home/aaa/a3-core/engine/scripts/a3-core.py
LimitRTPRIO=70

[Install]
WantedBy=default.target
