[Unit]                                                                          
Description=a3-core user interface
After=jack.service

[Service]
Type=idle
PrivateTmp=true
ExecStart=/usr/bin/python3 /home/aaa/a3-core/engine/scripts/a3-interface.py

[Install]
WantedBy=default.target
