[Unit]                                                                                     
Description=a3-core reaper
After=jack.service
After=a3xinit.service

[Service]
PrivateTmp=true
WorkingDirectory=/home/aaa/opt/REAPER
ExecStartPre=/bin/sleep 3
ExecStart=/bin/bash -c "/home/aaa/opt/REAPER/reaper -ignoreerrors"
ExecStop=/home/aaa/opt/REAPER/reaper -close all :save
LimitRTPRIO=09

[Install]
WantedBy=default.target
