[Unit]                                                                                     
Description=a3-core vu-meter
After=jack.service

[Service]
Type=idle
PrivateTmp=true
WorkingDirectory=/home/aaa/a3-core/engine/supercollider
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/sclang /home/aaa/a3-core/engine/supercollider/a3-vu-meter.scd
LimitRTPRIO=80

[Install]
WantedBy=default.target
