[Unit]
Description=x11vnc
After=graphical.target

[Service]
User=aaa
WorkingDirectory=/home/aaa
Environment=DISPLAY=:0
#ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/bin/x11vnc -reopen -shared -forever -rfbport 5901 -display :0 -ncache 0 -auth /home/aaa/.Xauthority
Restart=on-failure

[Install]
WantedBy=graphical.target
