[Unit]                                                                                     
Description=a3-core (python osc servera)
PartOf=a3-main.service
#After=a3-jack.service

[Service]
Type=idle
PrivateTmp=true
ExecStart=/home/aaa/.venv/bin/python3 /home/aaa/.local/bin/a3-core.py
CPUAffinity=0

[Install]
WantedBy=default.target
