[Unit]
Description=a3-main
Requires=a3-jack.service a3-reaper.service a3-core.service

[Service]
ExecStartPre=/bin/sleep 6
Environment=DISPLAY=:0
ExecStart=/usr/bin/qjackctl
Type=simple
CPUAffinity=1 2 3

[Install]
WantedBy=default.target
